* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  color: #0f0f12;
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-rows: 120px 1fr 90px;
  grid-template-areas: "header"         
                        "main"                
                        "footer"; 
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  grid-area: header;
}

.header__flex {
  display: flex;
  height: 120px;
}

.nav {
  width: 65%;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
}

.list__item {
  font-size: 22px;
}

.main {
  grid-area: main;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 5%;
  width: 35%;
  background-color: #fecb00;
}

.me {
  background-color: #0f0f12;
  display: flex;
  width: 100%;
  position: relative;
}

.me::after {
  content: " ";
  background-color: #0f0f12;
  height: 360px;
  width: 120px;
  position: absolute;
  left: -120px;
}

.me__title::before {
  content: " ";
  background-color: #fecb00;
  width: 25%;
  height: 3px;
  position: absolute;
}

.me__photo {
  background-image: url(assets/img/my_photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 360px;
  width: 35%;
}

.me__descr {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-end;
  padding: 20px 100px;
  width: 65%;
}

.me__title {
  font-size: 80px;
  text-transform: uppercase;
  color: #f0eeee;
}

.me__text {
  font-size: 22px;
  text-transform: uppercase;
  color: #f0eeee;
}

.info {
  display: flex;
  width: 100%;
}

.contacts {
  display: flex;
  flex-direction: column;
  padding: 50px 5%;
  width: 35%;
  background-color: #fecb00;
}

.location {
  display: flex;
  align-items: center;
  padding-top: 20px;
  gap: 10px;
  font-size: 22px;
}

.location__img {
  height: 30px;
}

.title {
  font-size: 36px;
  padding-bottom: 20px;
}

.title::before {
  content: " ";
  background-color: #0f0f12;
  width: 6%;
  height: 3px;
  position: absolute;
}

.contacts__item {
  padding-bottom: 10px;
  font-size: 22px;
}

.aboutMe {
  padding: 50px 20px 20px 20px;
  width: 65%;
}

.aboutMe__descr {
  padding-bottom: 40px;
}

.text {
  font-size: 22px;
  text-indent: 25px;
}

.education {
  padding-bottom: 50px;
}

.education__list li {
  list-style-image: url(./assets/svg/array.svg);
  list-style-position: inside;
 }

 .experience {
  padding-bottom: 20px;
 }

.experience__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experience__list li {
 list-style-image: url(./assets/svg/array.svg);
 list-style-position: inside;
}

.attainments {
  display: flex;
}

.knowledge {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-bottom: 30px;
  width: 35%;
  font-size: 22px;
  background-color: #fecb00;
}

.skills {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.skills__title {
  font-size: 36px;
  padding-bottom: 20px;
}

.skills__title::before {
  content: " ";
  background-color: #0f0f12;
  width: 4%;
  height: 3px;
  position: absolute;
}

.skills__item {
  padding-bottom: 10px;
}

.english__title {
  font-size: 36px;
  padding-bottom: 20px;
}

.english__title::before {
  content: " ";
  background-color: #0f0f12;
  width: 4%;
  height: 3px;
  position: absolute;
}

.code {
  padding: 0 20px;
  width: 65%;
}

pre {
  font-size: 22px;
  background-color: #fecb006d;
  width: 100%;
}

.footer {
  grid-area: footer;
}

.footer__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  background-color: #0f0f12;
}

.footer__text {
  font-size: 22px;
  color: #f0eeee;
}

.footer__list {
  display: flex;
  gap: 10px;
}
